
*.class
code/target/

code/.idea/

*.iml

code/out/artifacts/catalogIndex/kgindex.log

code/out/artifacts/catalogIndex/output.trig

code/GeneralIndex.20211007.trig

code/out/artifacts/catalogIndex/D2KAB.trig.zip

code/out/artifacts/catalogIndex/GeneralIndex_20211012.trig

code/out/artifacts/catalogIndex/GeneralIndex_20211013_complete.trig

code/out/artifacts/catalogIndex/GeneralIndex_20211013_complete.trig.zip

code/out/artifacts/catalogIndex/LinkedWiki.trig

code/out/artifacts/catalogIndex/LOD-CloudIndex.trig

LODMap/node_modules/

LODMap/package-lock.json

LODMap/.parcel-cache/

LODMap/dist/

LODMap/src/data/cache/

*.out

VoiDMatic/.parcel-cache/

VoiDMatic/dist/

VoiDMatic/node_modules/

VoiDMatic/package-lock.json

LODMap/.idea/

VoiDMatic/

LODMap/src/data/retrieveEndpointGeolocList/node_modules/

LODMap/src/data/retrieveEndpointGeolocList/package-lock.json

code/out/artifacts/kgindex_jar/kgindex.log

code/out/artifacts/kgindex_jar/output.ttl

code/data/

code/dependency-reduced-pom.xml

code/kgindex.log

code/out/artifacts/kgindex_jar/temp/

script/retrieve_LODCloud_catalog/node_modules/

script/retrieve_LODCloud_catalog/package-lock.json

script/retrieve_LODCloud_catalog/catalog.ttl
