
*.class
code/target/

code/.idea/

*.iml

code/out/artifacts/catalogIndex/kgindex.log

code/out/artifacts/catalogIndex/output.trig

code/GeneralIndex.20211007.trig

code/out/artifacts/catalogIndex/D2KAB.trig.zip

code/out/artifacts/catalogIndex/GeneralIndex_20211012.trig

code/out/artifacts/catalogIndex/GeneralIndex_20211013_complete.trig

code/out/artifacts/catalogIndex/GeneralIndex_20211013_complete.trig.zip

code/out/artifacts/catalogIndex/LinkedWiki.trig

code/out/artifacts/catalogIndex/LOD-CloudIndex.trig

LODMap/node_modules/

LODMap/package-lock.json

LODMap/.parcel-cache/

LODMap/dist/

*.out

VoiDMatic/.parcel-cache/

VoiDMatic/node_modules/

VoiDMatic/dist/

VoiDMatic/package-lock.json
